/*
css comment 
page level style
select element then add style(s)
*/
h2 {
    background-color: lightblue;
}

/*
cascade - top down 
css defined after current css will be overridden 
combines pervious css to cueernt css 
*/
p {
    text-align: center;
    color:#abcdef
}

p {
    color:blue
}

span {
    font-family: 'Courier New', Courier, monospace; 
    color:green
}

label {
    color:blue
}

/* select multiple elements */
ul, ol {
    list-style-type: none;
}

