/*
css comment 
page level style
select element then add style(s)
*/

/*
placeholder-named-style
*/
.container-1 {

}

/*
generic style name that can be used in any element 
add named element to a element using class="header-style-1"
*/
.header-style-1 {
    background-color: lightblue;
}

/*
named style that applys to only css element 
this elemen can ne be applied to other element - only h2 
add named element to a element using class="header-style-1"
*/
h2.header-style-2 {
    background-color: lightgreen;
}

/*
named #id styles 
adding multinple named styles ie: class to elements 
*/

/*
cascade - top down 
css defined after current css will be overridden 
combines pervious css to cueernt css 
*/
p.para-style-1 {
    text-align: center;
    color:#abcdef
}

p.para-style-2 {
    color:blue
}

span.span-style-1 {
    font-family: 'Courier New', Courier, monospace; 
    color:green
}

label.label-style-1 {
    color:blue
}

/* select multiple elements */
ul,ol .list-style-1 {
    list-style-type: none;
}

